<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    {% comment %}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    {% endcomment %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        {% load static %}
        <a href="{% static 'websiteLogo.png' %}"><img style = 'width: 130px; height: 50px;' src="{% static 'websiteLogo.png' %}" alt="">
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
              <li class= 'nav-item mx-3'>
                {% if user.applicationUser%}
                    {% if user.applicationUser.profile_pic %}
                      
                        <a href="{{user.applicationUser.profile_pic.url}}"><img  style = 'width: 50px; border-radius:50%' src="{{user.applicationUser.profile_pic.url}}" alt="Profile pic of owner"></a>
                    {% else %}
                          <a href="{% static 'avatar.jpg' %}}"><img style = 'width: 50px; border-radius:50%' src="{% static 'avatar.jpg' %}" alt=""></a>
                    {% endif %}
                {% else %}
                    {% if user.applicationUser2.profile_pic %}
                        
                    <a href="{{user.applicationUser2.profile_pic.url}}"><img style = 'width: 50px; border-radius:50%' src="{{user.applicationUser2.profile_pic.url}}"alt="Profile pic of buyer">
                    </a>
                    {% else %}
                        <a href="{% static 'avatar.jpg' %}"><img style = 'width: 50px; border-radius:50%' src="{% static 'avatar.jpg' %}" alt=""></a>
                    {% endif %}
                    
                {% endif %}
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'homepage'%}">Home</a>
              
            </li>

            {% block menubar %} {% endblock menubar %}
          </ul>
          <form class="d-flex">
            {% if not user.is_authenticated %}
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-success text-light"
              data-bs-toggle="modal"
              data-bs-target="#exampleModalCenter"
            >
              Sign Up
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModalCenter"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-success text-white text-center">
                    <h3
                      class="modal-title text-center"
                      id="exampleModalLongTitle"
                    >
                      Sign Up
                    </h3>
                    <button
                      type="button"
                      class="close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <a
                      class="btn btn-primary text-light"
                      href="{% url 'signUpAsOwner'%}"
                      >Sign Up as Owner</a
                    >
                    <a
                      class="btn btn-info text-white ms-3"
                      href="{% url 'signUpAsBuyer'%}"
                      >Sign Up as Buyer</a
                    >
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <a class="btn btn-info mx-3 text-white" href="{% url 'login'%}"
              >Log In</a
            >
            {% endif %}

            {% if user.is_authenticated %}  {% comment "ekbar ei if use korla  keno jeno error asa. tai 2 bar use kora" %}{% endcomment %}
                <a class="btn btn-info mx-3 text-white" href="{% url 'profile' %}">Profile</a> 
                <a class = 'btn btn-danger text-white' href="{% url "logout" %}">Log Out</a>
            {% endif %}
          </form>
        </div>
      </div>
    </nav>


    

   {% if messages %} 

    <style>
        .success{
          color:green;
          text-algn:center;
        }
        .warning{
          background-color:gray;
          color:red;
          text-align:center;
        }
    </style>
   

        
            {% for message in messages %}
                <h3{% if message.tags %} class="{{ message.tags }} text-center"{% endif %}>{{message}}
            {% endfor %}
        
    
{% endif %}
   {% block content %} {% endblock content %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    {% comment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% endcomment %}
  </body>
</html>
